{% extends "base.html" %}

{% block content %}

    <div class="container mt-5">
        <h1>Probe Data</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">IP Address</th>
                    <th scope="col">Min RTT</th>
                    <th scope="col">Max RTT</th>
                    <th scope="col">Avg RTT</th>
                    <th scope="col">Std Dev RTT</th>
                    <th scope="col">Packet Loss</th>
                    <th scope="col">Jitter</th>
                    <th scope="col">Traceroute</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                {% for data in probe_data %}
                <tr>
                    <td>{{ data['host']['address'] }}</td>
                    <td>{{ data['host']['rtt_min'] }} ms</td>
                    <td>{{ data['host']['rtt_max'] }} ms</td>
                    <td>{{ data['host']['rtt_avg'] }} ms</td>
                    <td>{{ data['host']['rtt_std_dev'] }} ms</td>
                    <td>{{ data['host']['packet_loss'] }}%</td>
                    <td>{{ data['host']['jitter'] }}%</td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#traceroute-{{ loop.index }}" aria-expanded="false"
                            aria-controls="traceroute-{{ loop.index }}">
                            <i class="fas fa-network-wired"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#probe-location-{{ loop.index }}" aria-expanded="false"
                            aria-controls="probe-location-{{ loop.index }}">
                            <i class="fas fa-map-marker-alt"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div class="collapse" id="traceroute-{{ loop.index }}">
                            <div class="card card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Distance</th>
                                            <th scope="col">IP</th>
                                            <th scope="col">Avg RTT (ms)</th>
                                            <th scope="col">Packets Sent</th>
                                            <th scope="col">Packets Received</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for hop in data['traceroute'] %}
                                        <tr>
                                            <th scope="row">{{ hop['distance'] }}</th>
                                            <td>{{ hop['address'] }}</td>
                                            <td>{{ hop['avg_rtt'] }} ms</td>
                                            <td>{{ hop['packets_sent'] }}</td>
                                            <td>{{ hop['packets_received'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="collapse" id="probe-location-{{ loop.index }}">
                            <div class="card card-body">
                                <p>Latitude: {{ data['probe_location']['latitude'] }}</p>
                                <p>Longitude: {{ data['probe_location']['longitude'] }}</p>
                                <p>City: {{ data['probe_location']['city'] }}</p>
                                <p>Region: {{ data['probe_location']['region_name'] }}</p>
                                <p>Country: {{ data['probe_location']['country_name'] }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}