<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <style>
      #map {
        height: 400px;
      }
    </style>
    <title>Probe Info</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4 mb-4">
        {{ location.city }}, {{ location.region_name }}, {{
        location.country_name }}
      </h1>
      <div id="map" class="mb-4"></div>
      <div>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#locationDetails"
          aria-expanded="false"
          aria-controls="locationDetails"
        >
          More Details
        </button>
      </div>
      <div class="collapse mt-3" id="locationDetails">
        <div class="card card-body">
          <p>Latitude: {{ location.latitude }}</p>
          <p>Longitude: {{ location.longitude }}</p>
        </div>
      </div>
    </div>

    <script>
      const map = L.map('map').setView([{{ location.latitude }}, {{ location.longitude }}], 13);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map)
        .bindPopup('<strong>{{ location.city }}, {{ location.region_name }}</strong><br>{{ location.country_name }}')
        .openPopup();
    </script>
  </body>
</html>
